{% extends "base.html" %}

{% block head %}
<meta name="keywords" content="{{ article.tags|join(', ')  }}">

<meta property="og:title" content="{{ article.title|striptags }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:image" content="{{ SITEURL }}/theme/images/og_avatar.png" />
<meta property="og:site_name" content="Gil.codes" />
<meta property="og:description" content="{{ article.summary|striptags }}" />

<meta property="twitter:card" content="content" />
<meta property="twitter:title" content="{{ article.title|striptags }}" />
<meta property="twitter:site" content="@lurst" />
<meta property="twitter:image" content="{{ SITEURL }}/theme/images/og_avatar.png" />
<meta property="twitter:creator" content="@lurst" />
{% endblock %}

{% block title %}&ndash; {{ article.title|striptags }}{% endblock %}

{% block content %}
<article>
    <div class="article__title">
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    </div>
    <div class="article__meta">
        <p class="article__meta__post-date">Posted on: {{ article.locale_date }}</p>
        {% if DISPLAY_CATEGORIES == '' or DISPLAY_CATEGORIES %}
            <p class="article__meta__category">Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        {% endif %}

        {% if article.tags %} Tags:
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}
        </p>
    </div>
    <div class="article__text">
        {{ article.content }}
    </div>
    {% if SHOW_SOCIAL_SHARE_BUTTON %}
    {% include "modules/social-tools.html" %}
    {% endif %}
    {% include "modules/google-adsense.html" %}
    {% if DISQUS_SITENAME %}
    <div id="article__comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_identifier = "{{ article.url }}";
            (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
        </script>
    </div>
    {% endif %}
</article>
{% endblock %}
