<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

    <head>
        <link rel="icon" type="image/vnd.microsoft.icon" href="{{ SITEURL }}/theme/images/favicon.ico">
        <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/images/apple-favicon.png"/>

        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.min.css">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/extras.css">

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="description" content="Posts and writings by {{ AUTHOR }}">

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom" />
        {% endif %}

        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS" />
        {% endif %}

        {% block head %}
        {% endblock %}

        <title>
            {{ SITENAME }}

            {% block title %}{% endblock %}
        </title>

        {% include "modules/analytics.html" %}
        {%- if CUSTOM_HEADER_HTML %}
        {{ CUSTOM_HEADER_HTML }}
        {% endif -%}

        <style>
        @font-face {
        font-family: "IBM Plex Mono";

        src: url("/theme/webfonts/ibm_plex_mono/IBMPlexMono-Regular.woff") format("woff"),
            url("/theme/webfonts/ibm_plex_mono/IBMPlexMono-Bold.woff") format("woff"),
            url("/theme/webfonts/ibm_plex_mono/IBMPlexMono-Italic.woff") format("woff");
        }

        @font-face {
        font-family: "IBM Plex Serif";
        src: url("/theme/webfonts/ibm_plex_serif/IBMPlexSerif-Regular.woff") format("woff"),
            url("/theme/webfonts/ibm_plex_serif/IBMPlexSerif-Bold.woff") format("woff"),
            url("/theme/webfonts/ibm_plex_serif/IBMPlexSerif-Italic.woff") format("woff");
        }

        body {
            font-family: "IBM Plex Serif";
        }


        main article .article__text pre code {
            font-family: "IBM Plex Mono";
            background: transparent;
            color: white;
        }

        main article .article__text pre {
            font-family: "IBM Plex Mono";
        }


        header p a {
            padding: 5px;
        }

        footer {
        border-top: 0px;
        }

        ul.mini-links li {
            display: inline;
            padding: 5px;
            text-align: center;
            padding-left: 0px;
        }

        ul.mini-links {
            padding-left: 0px;
        }

        footer .ending-message {
            text-align: center;
        }

        main article {
            padding: 20px 20px;
        }

        .article__title {
            margin-bottom: 20px;
        }

        main article .article__text code {
            color: #171414;
            padding: 0.1em 0;
        }

        main article .article__text h1, h2, h3, h4, h5, h6 {
            border: 0;
        }

        .icon-link {
            margin: 5px;
        }

        /* For frontpage and archive */
        .article__list {
            display: flex;
        }

        @media screen and (max-width: 768px) {
            .article__list {
                flex-direction: column;
            }
        }

        .list__date {
            width: 220px;
            font-style: italic;
        }

        /* Header links */

        .header__links__box {
            display: flex;
            justify-content: center;
        }

        .header__links__inner__box {
            display: flex;
            flex-wrap: wrap;
            width: 800px;
            justify-content: center;
        }

        .header__links {
            margin-top: 10px;
            margin-left: 15px;
            font-size: 21px;
            border-bottom: 1px solid darkgrey;
            border-right: 1px solid darkgrey;
            border-top: 1px solid grey;
            border-left: 1px solid grey;

            border-radius: 2%;
            padding: 2px 5px;

            box-shadow: 2px 2px 2px lightgrey;
        }

        .header__links:hover {
            border-bottom: 1px solid grey;
            border-right: 1px solid grey;
            border-top: 1px solid darkgrey;
            border-left: 1px solid darkgrey;

            color: black;
        }

        .site-name {
            margin-bottom: 10px;
        }
        </style>
    </head>

    <body>
        <main>
            <header>
                <div class="site-name">
                    <a href="{{ SITEURL }}">{{ SITEHEADERNAME }}</a>
                </div>

                <div class="header__links__box">
                    <div class="header__links__inner__box">
                        <div class="header__links">
                            <a href="{{ SITEURL }}/archives.html"><i class="fa fa-newspaper"></i> archive</a>
                        </div>

                        {% for p in pages if p.url in ("pages/about", "pages/books", "pages/now", "pages/plan", "pages/wiki") %}
                            <div class="header__links"><a href="{{ SITEURL }}/{{ p.url }}" title="{{ p.title }}">
                                <i class="fa fa-book"></i> {{ p.slug }}
                            </a></div>
                        {% endfor %}

                        {% block header %}
                        {% endblock header %}
                    </div>
                </div>
            </header>

            {% block content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}

        </main>
        <footer>
            <div class="ending-message">
                <p>&copy; {{ AUTHOR }}.
                Powered by <a href="http://getpelican.com" target="_blank" rel="noopener">Pelican</a>,
                The theme is a modified version of <a href="https://github.com/laughk/pelican-hss" target="_blank" rel="noopener">HSS</a>.
                Member of the <a href="http://internetdefenseleague.org">Internet Defense League</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
