{% extends "base.html" %}
{% block title %}&ndash; Categories{% endblock %}

{% block content %}
<article>
    <div class="article__text">
        <ul>
            {% for category, articles in categories|sort %}
                <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
            {% endfor %}
        </ul>
    </div>
</article>
{% endblock %}
