{% extends "base.html" %}
{% block title %}&ndash; Frontpage{% endblock %}

{% block content %}
<article>
    <div class="article__title">
        <h1>Things I wrote, mostly about tech...</h1>
    </div>

    <div class="article__text">
        {% for article in dates %}
            <div class="article__list">
                <div class="list__date">{{ article.locale_date }}</div>
                <div><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
            </div>
        {% endfor %}
    </div>
</article>
{% endblock %}
