{% extends "base.html" %}
{% block title %}&ndash; {{ page.title }}{% endblock %}

{% block content %}
    <article>
        <div class="article__title">
            <h1><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></h1>
        </div>

        <div class="article__meta">
            <p>Updated on: {{ page.locale_modified }}</p>
        </div>

        <div class="article__text">
            {{ page.content }}
        </div>
    </article>
{% endblock %}
